body {
    background-color: #0C080E;
    color: #E2EDFC;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.title {
    text-align: center;
    padding: 40px 0;
}

/* Carrito Icon */
.carrito {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #7b4f8b;
    border-radius: 10px;

    top: 20px;
    right: 15px;
    position: fixed;
    cursor: pointer;
    transition: 200ms;
}
.carrito:hover {
    transform: scale(1.05);
}
.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 900;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Carrito Box */
.display__none {
    display: none;
}
.carrito__active {
    position: fixed;
    right: 10px;
    top: 85px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: center;
    height: 85vh;
    width: 26%;
    background-color: #26192b;
    overflow-y: auto;
    padding-bottom: 20px;
    border: 2px solid #b070c7;
    border-radius: 5px;
}
.carrito__card {
    background-color: #0C080E;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 10px;
    padding: 8px 5px;
    margin-top: 8px;
}
.carrito__card img {
    width: 35%;
    margin-left: 5px;
}
.noMargin {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 5px;
}
.noMargin, h2, p {
    margin: 0 0 5px;
}
.noMargin h2 {
    font-size: 18px;
}

.carrito__card__cantidades {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

/* Lista Vinos y Vinos Card*/
.vinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.vinos__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 200px;
    background-color: #211625;
    padding: 12px 5px;
    
    border: 2px solid #b070c7;
    border-radius: 12px;
}
.vinos__card img {
    width: 140px;
}
.vinos__card h2 {
    margin: 10px 0 6px;
    font-size: 18px;
}
.vinos__card p {
    margin: 5px;
    font-size: 14px;
}
.button__compra, .button__vaciar, .button__verMas {
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    background-color: #7b4f8b;
    color: #E2EDFC;
    font-weight: 700;
    cursor: pointer;
    transition: 150ms;
}
.button__verMas {
    margin-top: 7px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.button__vaciar {
    padding: 6px 8px;
    margin-top: 4px;
}
.button__eliminar, .button__agregar {
    padding: 2px 6px;
    border: none;
    border-radius: 8px;
    background-color: #7b4f8b;
    color: #E2EDFC;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    transition: 150ms;
}
.button__compra:hover, .button__agregar:hover, .button__eliminar:hover, .button__vaciar:hover,.button__verMas:hover {
    background-color: #684375;
}


/* VINOS HTML */
.header__vinosDOM {
    display: flex;
    flex-direction: column;
    margin: 12px auto 18px;
    align-items: center;
    width: 20%;
    gap: 10px;
}
.header__vinosDOM h1 {
    margin: 0;
}
.title__vinosDOM {
    text-align: center;
}
.vinoDOM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    background-color: #211625;
    padding: 10px 10px 0;
    margin-bottom: 24px;
    
    border: 2px solid #b070c7;
    border-radius: 12px;
}
.vinoDOM img {
    width: 85%;
    border-radius: 5px;
    margin-top: 10px;
}
